<%- include ('./includes/header.ejs') %>
  <div class="video">
    <h1>Découvrez l'ile vue d'un drone</h1>
    <div class="cadragevideo">
    <iframe width="674" height="281" src="https://www.youtube.com/embed/UoTYNd3luOA" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>

  </div>
  <div class="theme">
    <h1>LIEUX</h1>


    <div class="ui link cards rcadre">
      <div class="card cadrelieux">
        <div class="image">
          <img class="img" src="../img/montagne1.jpg">
        </div>
        <div class="content">
          <div class="titretheme">MONTAGNES</div>
          <div class="descript">
            <p>Venez découvrir </br> des relief a en coupe le souffle</p>
          </div>
          <div class="lienlieux">
            <a href="/lieux/montagnes">Voir nos montagnes</a>
          </div>
        </div>
      </div>
      <div class="card cadrelieux">
        <div class="image">
          <img class="img" src="../img/plage 1.jpg">
        </div>
        <div class="content">
          <div class="titretheme">PLAGES</div>
          <div class="descript">
            <p> Baignez vous </br> dans des plages paradisiaque</p>
          </div>
          <div class="lienlieux">
            <a href="/lieux/Plages">Voir nos plages</a>
          </div>
        </div>
      </div>
      <div class="card cadrelieux">
        <div class="image">
          <img class="img" src="../img/riviere1.jpeg">
        </div>
        <div class="content">
          <div class="titretheme">RIVIERES</div>
          <div class="descript">
            <p>Detendez vous </br> avec nos cours d'eau naturelle</p>
          </div>
          <div class="lienlieux">
            <a href="/lieux/Rivieres">Voir nos rivières</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="titreactivites">
      <h1>ACTIVITES</h1>
    </div>
    <div class="activitesfront">
      
    <% allActivites.forEach(function(data){ %>
      
      <section class="carousel">
        <ul class="carousel-items">
            <li class="carousel-item">
                <div class=" ui card card-act">
                  <img class="imageactimg"src="/img/<%= data.Image %>" />
                    <div class="card-content card-content-CSS">
                      <a href="/activites/descriptif?idactivites=<%= data.idactivites %>">
                        <%= data.Titre %>
                      </a> 
                       
                    </div>
                </div>
            </li>
        </ul>
      </section>
  <% }) %>
  </div>  



    <%- include ('./includes/footer.ejs') %>