<%- include ('./includes/header.ejs') %>
<div class="theme">
    <a href="/lieux/montagnes">Montagnes</a>
    <a href="/lieux/Plages">Plages</a>
    <a href="/lieux/Rivieres">Rivières</a>
</div>


<% for(data of activites) { %>
    
    
    <div class="ui ">
        
        <a href="/activites/descriptif?idactivites=<%- data.idactivites %>"> 
            <%- data.Titre %>
            <img src = "/img/<%- data.Image %>"/>
        </a>
    </div>

<% } %>

<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>
<h1>bonjour toto tata</h1>

<%- include ('./includes/footer.ejs') %>
    
