<%- include ('../includesad/header.ejs') %>
  <div class="pageactivitesadmin">
    <div class="titreactivitesadmin">
      <h1>Activites</h1>
      <a href="/admin/addActivites">
        <button class="ui labeled icon button">
          <i class="plus icon"></i>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Ajouter Activités
            </font>
          </font>
        </button>
      </a>
    </div>
    <% allActivites.forEach(function(data){ %>
      <div class="cadreactivitesadmin">
        <div class="cardadmin ">

          <div class="Titre">
            <%= data.Titre %>
          </div>
          <div class="icon">
            <a href="activites/delete?idactivites=<%= data.idactivites %>"
              onClick=" return confirm('Es tu sur ?')">
              <i class="trash alternate icon"></i>
            </a>
            <a href="/admin/activites/update?idactivites=<%= data.idactivites %>"><i class="edit icon"></i></a>
          </div>
        </div>
      </div>
  </div>
 <% }) %>
    <%- include ('../includesad/footer.ejs') %>