<%- include ('../includes/header.ejs') %>

    <% if(locals.allMontagnes) {%>
        <div class="CSSpagelieux">
            <H1>Montagnes</H1>
            <div class="cadrepagelieux">
                <% for(data of allMontagnes) { %>

                    <div class="ui card clieux">
                        <img class="imglieux" src="../img/<%- data.Image %>">
                        <div class="card-content clieux2">
                            <a href="/lieux/descriptif?idLieux=<%- data.idLieux %>">
                                <%- data.Titre %>
                            </a>

                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    <%}%>


    <% if(locals.allPlages) {%>
        <div class="CSSpagelieux">
                    <H1>Plages</H1>
                    <div class="cadrepagelieux">
                        <% for(data of allPlages ) { %>

                            <div class="ui card clieux">
                                <img class="imglieux" src="../img/<%- data.Image %>">
                                <div class="card-content clieux2">
                                    <a href="/lieux/descriptif?idLieux=<%- data.idLieux %>">
                                        <%- data.Titre %>
                                    </a>

                                </div>
                            </div>
                            <% } %>
                    </div>
        </div>
    <%}%>


    <% if(locals.allRivieres) {%>
        <div class="CSSpagelieux">
                            <H1>Montagnes</H1>
                            <div class="cadrepagelieux">
                                <% for(data of allRivieres ) { %>

                                    <div class="ui card clieux">
                                        <img class="imglieux" src="../img/<%- data.Image %>">
                                        <div class="card-content clieux2">
                                            <a href="/lieux/descriptif?idLieux=<%- data.idLieux %>">
                                                <%- data.Titre %>
                                            </a>

                                        </div>
                                    </div>
                                    <% } %>
                            </div>
        </div>
    <%}%>





                            <%- include ('../includes/footer.ejs') %>