<%- include ('../includesad/header.ejs') %>
    <div class="formpageadmin" style="padding-left: 20px">
        <div class="titreformadmin">
            <h1>Add Lieux</h1>

            <% if(locals.validmessage) { %>

                <div class="ui green message">
                    <%- validmessage %>
                </div>
                <% } %>
                    <% if(locals.errormessage) { %>
                        <div class="ui red message">
                            <%- errormessage %>
                        </div>

                        <% } %>
        </div>
        <form method="post" action="/admin/postaddlieux" enctype="multipart/form-data" class="ui form" style="width: 70%">
            <div class="field">
                <label>Categorie</label>
                <select type="" name="categorie" class="ui search dropdown">
                    <option">Select Categorie</option>
                    <option value="1">Montagnes</option>
                    <option value="2">Plages</option>
                    <option value="3">Rivieres</option>
                </select>
            </div>
            <div class="field">
                <label>Titre</label>
                <input type="text" name="titre">
            </div>
            <% if(locals.admin) { %>
                <div class="ui red message">
                    <%= admin.idadmin %>
                </div>
                <% } %>
            <div class="field">
                <label>Image</label>
                <input type="file" name="Image"></input>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea type="text" name="description"></textarea>
            </div>
            <button class="ui button">Submit</button>
            <input type="hidden">
        </form>
    </div>


    <%- include ('../includesad/footer.ejs') %>